@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Source+Sans+Pro&display=swap');

/* font-family: 'Oswald', sans-serif;  This one is larger*/ 
/* font-family: 'Source Sans Pro', sans-serif; */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.navbar {
    background-color: black;
    color: #FEFBEA;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 4px -4px black;
    min-width: 100%;
    position: sticky;

}


.navbrand {
    color: #FEFBEA;
    font-size: 25px;
    letter-spacing: 2px;
    text-decoration: red underline;
    text-decoration-thickness: 4px;
}

.navbar .navitems {
    display: flex;
}

.navbar .navlist {
    display: none
    }

.navbar a {
    color: #FEFBEA;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;

  }

.navbar a.icon {
    float: right;
}

.navbar a:hover {
    color: white;
    box-shadow: inset 0 0 7px black;
    text-decoration: red underline;
    text-decoration-thickness: 3px;
}

.navitem {
    display: none;
}



h1, h2, h3 {
    color: #FEFBEA;
    text-decoration: red underline;
    text-decoration-thickness: 3px;
}


body {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    padding-top: 5px;
    padding-left: 10px;
}

#headshot {
    height: 25vw;
    min-height: 175px;
    padding-left: 10px;
    padding-top: 20px;
    float: left;
}

#about { 
    display: flex;
}


.projectCard {
    box-shadow: 0px 4px 8px 0 black;
    transition: 0.3s;
    width: 45%;
    outline: 2px solid #FEFBEA;
    border: 5px;
    margin: 5px;
}

.projectCard:hover {
    box-shadow: 0 8px 16px 0 black;
  }


#projects { 
    padding-left: 15px;
    display: flex;


}

p {
    color: #F7FBFF;
}

.cardContainer {
    background-color: #403F3B;
}

hr {
    height: 2px;
    border-width: 0;
    color: #FEFBEA;
    background-color: #FEFBEA;
    margin: auto;
    margin-top: 10px;
    width: 95%;
}

